:root {
  --black: black;
  --white: white;
  --grey: #333;
  --blue: #0392cf;
  --red: #ee4035;
  --green: #7bc043;
  --orange: #f37736;
  --creme: #fdf498; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0; }

.counters {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  justify-items: center; }

.counter {
  align-items: center;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .counter:nth-child(1) {
    color: var(--red); }
  .counter:nth-child(2) {
    color: var(--green); }
  .counter:nth-child(3) {
    color: var(--white); }
  .counter:nth-child(4) {
    color: var(--blue); }
  .counter .count {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 30%; }
  .counter .number {
    font-size: 10em;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .counter .up, .counter .down {
    bottom: 0;
    color: var(--grey);
    cursor: pointer;
    display: flex;
    font-size: 3em;
    justify-content: center;
    padding: 0.25em;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 1;
    -webkit-tap-highlight-color: transparent; }
    .counter .up span, .counter .down span {
      align-self: center; }
  .counter .up {
    left: 50%;
    right: 100%;
    text-align: right;
    padding-left: 5rem; }
  .counter .down {
    left: 0;
    right: 50%;
    padding-right: 5rem; }
  .counter .customise {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    position: absolute;
    bottom: 1rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); }
    .counter .customise .previous-color,
    .counter .customise .current-color,
    .counter .customise .next-color {
      margin-right: 1rem;
      border: 2px solid var(--grey);
      border-radius: 2rem;
      cursor: pointer;
      display: inline-block;
      height: 1rem;
      width: 1rem; }
    .counter .customise .current-color {
      visibility: hidden; }
    .counter .customise .next-color {
      margin-right: 0; }

.hide {
  display: none; }

[data-counters='1'] .counter .up {
  left: 50%;
  right: 100%;
  text-align: right; }

[data-counters='1'] .counter .down {
  left: 0;
  right: 50%; }

[data-counters='1'] .counter:nth-child(2), [data-counters='1'] .counter:nth-child(3), [data-counters='1'] .counter:nth-child(4) {
  display: none; }

[data-counters='1'] .counter .customise {
  top: 50%; }

[data-counters='1'] + #settings-wrapper {
  position: absolute;
  bottom: 3rem;
  right: auto;
  top: auto; }

[data-counters='2'] .counter:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  transform: rotate(180deg); }

[data-counters='2'] .counter:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; }

[data-counters='2'] .counter .customise {
  top: 80%; }

[data-counters='3'],
[data-counters='4'] {
  font-size: 0.5rem; }
  [data-counters='3'] .counter:nth-child(1),
  [data-counters='4'] .counter:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: rotate(90deg); }
  [data-counters='3'] .counter:nth-child(2),
  [data-counters='4'] .counter:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: rotate(-90deg); }
  [data-counters='3'] .counter:nth-child(3),
  [data-counters='4'] .counter:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: rotate(90deg); }
  [data-counters='3'] .counter:nth-child(4),
  [data-counters='4'] .counter:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: rotate(-90deg); }

[data-counters='3'] .counter:nth-child(3) {
  grid-column-end: 3;
  transform: none;
  width: 50vh; }

[data-counters='3'] .counter:nth-child(4) {
  display: none; }

#settings-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  z-index: 2; }
  #settings-wrapper #add-counter,
  #settings-wrapper #remove-counter {
    color: var(--grey);
    cursor: pointer;
    font-size: 3rem;
    height: 2rem;
    left: 50%;
    line-height: 0.4;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 2rem;
    z-index: 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #settings-wrapper #add-counter {
    transform: translate(3rem, -50%); }
  #settings-wrapper #remove-counter {
    transform: translate(-5rem, -50%); }
  #settings-wrapper #fullscreen-settings {
    color: var(--grey); }
    #settings-wrapper #fullscreen-settings input {
      display: none; }
    #settings-wrapper #fullscreen-settings label {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--green);
      border-radius: 2rem;
      border: 0.2rem solid var(--grey);
      cursor: pointer;
      height: 2rem;
      width: 2rem; }

body.fullscreen #add-counter,
body.fullscreen #remove-counter {
  visibility: hidden; }

body.fullscreen #settings-wrapper #fullscreen-settings label {
  background-color: transparent; }

body.fullscreen .customise {
  visibility: hidden; }
