// Avoid selecting the text when tapping
@mixin avoidSelect() {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML
    -moz-user-select: none; // Old versions of Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Chrome, Edge, Opera and Firefox
}

// Custom properties
:root {
    --black: black;
    --white: white;
    --grey: #333;

    --blue: #0392cf;
    --red: #ee4035;
    --green: #7bc043;
    --orange: #f37736;
    --creme: #fdf498;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

.counters {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.counter {
    align-items: center;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    width: 100%;
    z-index: 0;
    position: relative;

    @include avoidSelect();

    // Colours
    &:nth-child(1) {
        color: var(--red);
    }

    &:nth-child(2) {
        color: var(--green);
    }

    .number {
        font-size: 10em;
        text-align: center;
    }
    
    .up, .down {
        color: var(--grey);
        font-size: 3em;
        cursor: pointer;
        padding: 0.25em;
        position: absolute;
        z-index: 1;
        width: 50%;
    
        // Avoid link-tap highlight, esp. on Chrome
        -webkit-tap-highlight-color: transparent;
    }
    
    .up {
        left: 50%;
        right: 100%;
        text-align: right;
    }
    
    .down {
        left: 0;
        right: 50%;
    }
}


// Changes for number of counters
.counters {

    .hide {
        display: none;
    }

    &.counters-1 {
        writing-mode: vertical-rl;
        .counter {
            height: 100vh;
        }
    }
    &.counters-2 {
        .counter {
            height: 50vh;

            &:nth-child(1) {
                transform: rotate(180deg);
            }
        }
    }
    &.counters-3 {
        .counter {
            width: 50vh;
            height: 50vw;
        }
    }
}

#settings-wrapper {
    
    #add-counter,
    #remove-counter {
        color: var(--grey);
        cursor: pointer;
        font-size: 3rem;
        height: 2rem;
        left: 50%;
        line-height: 0.4;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 2rem;
        z-index: 2;

        @include avoidSelect();
    }

    #add-counter {
        transform: translate(3rem, -50%);
    }

    #remove-counter {
        transform: translate(-5rem, -50%);
    }

    #fullscreen-settings {
        color: var(--grey);
        position: absolute;
        top: 50%;
        left: 50%;
        line-height: 1;
        transform: translate(-50%, -50%);
        z-index: 2;

        input {
            display: none;
        }

        label {

            // Flex
            display: flex;
            align-items: center;
            justify-content: center;

            // Appearance
            background-color: var(--green);
            border-radius: 2rem;
            border: 0.2rem solid var(--grey);
            cursor: pointer;
            height: 2rem;
            width: 2rem;
        }
    }
}

// Fullscreen view
body.fullscreen {

    #add-counter,
    #remove-counter {
        visibility: hidden;
    }

    #settings-wrapper #fullscreen-settings label {
        background-color: transparent;
    }
}
