// Custom properties
:root {
    --black: black;
    --white: white;
    --grey: #333;

    --blue: #0392cf;
    --red: #ee4035;
    --green: #7bc043;
    --orange: #f37736;
    --creme: #fdf498;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

.counters {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.counter {
    align-items: center;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    width: 100%;
    z-index: 0;
    position: relative;

    // Avoid selecting the text when tapping
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML
    -moz-user-select: none; // Old versions of Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Chrome, Edge, Opera and Firefox

        // Colours
    &:nth-child(1) {
        color: var(--red);
    }

    &:nth-child(2) {
        color: var(--green);
    }

    .number {
        font-size: 10em;
        text-align: center;
    }
    
    .up, .down {
        color: var(--grey);
        font-size: 3em;
        cursor: pointer;
        padding: 0.25em;
        position: absolute;
        z-index: 1;
        width: 50%;
    
        // Avoid link-tap highlight, esp. on Chrome
        -webkit-tap-highlight-color: transparent;
    }
    
    .up {
        left: 50%;
        right: 100%;
        text-align: right;
    }
    
    .down {
        left: 0;
        right: 50%;
    }
}


// Changes for number of players
.counters {
    &.players-1 {
        writing-mode: vertical-rl;
        .counter {
            height: 100vh;
        }
    }
    &.players-2 {
        .counter {
            height: 50vh;

            &:nth-child(1) {
                transform: rotate(180deg);
            }
        }
    }
    &.players-3 {
        .counter {
            width: 50vh;
            height: 50vw;
        }
    }
}

#settings-wrapper {
    
    .button {
        color: var(--grey);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-200%, -50%);
        z-index: 2;

        &:nth-child(2) {
            color: var(--white);
            transform: translate(100%, -50%);
        }

        input {
            display: none;

            &:checked {
                & + label {
                    color: var(--grey);
                }
            }
        }
    }

    #settings {
        
    }
}
